body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 545px;
}

body, .today-weather, .weather-details, .day {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .today-weather, 
.dark-mode .weather-details, 
.dark-mode .day {
  background-color: #444;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
}

body.dark-mode::before {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.container {
  max-width: 800px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.logo_name {
  width: 200px;
}

.logo {
  width: 50px;
}

.toggle-theme {
  padding: 10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

::placeholder {
  color: black;
  text-align: center;
  font-weight: bold;
}

.search input {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  background: #4793FF33;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0px solid #ccc;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.weather-details {
  background-image: url("./img/Cloud.png");
  background-repeat: no-repeat;
background-position: top right;
  position: relative;
  width: 400px;
}

#cloud-details {
  position: absolute;
  right: 0px;
}

table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0 17px;
}

.weather-details td:first-child {
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 4px 10px -1px #4793FF33;
  margin-right: 10px;
}

.weather-details td img {
  display: block;
  width: 19px;
  height: 19px;
}

.weather-details tr {
  width: 40px;
}

.icon-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-details td:nth-child(2), td:nth-child(3), #day-about {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 17.07px;
  padding-left: 20px;
}

.weather-details td:nth-child(3) {
  color: #333;
}

.today-weather {
  margin-bottom: 2.5em;
  width: 250px;
}

#today-temp {
  margin-top: 20px;
  font-size: 450%;
  font-weight: 300;
  text-align: left;
  width: 160px;
  margin: 15px 0px 0px 0px;
}

.today-img {
  position: relative;
}

#today-sun  {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-70%); 
}

#today {
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 48.76px;
  text-align: left;  
  margin-top: 0px;
}

#today-time {
  margin-top: 0px;
}

.today-weather, .weather-details {
  flex-grow: 1;
  height: 225px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  padding: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
  margin-right: 50px;
}

.weekly-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

#showWeekly {
  background-color: #4793FF;
  color: white;
}

.weekly-btn {
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 5px 25px -3px #B4B4B440;
  transition: background-color 0.3s ease;
}

.weekly-btn:hover {
  background-color: #f0f0f0;
}


.weather-details, #today-time, #today-city {
  margin-right: 0;
  color:#939CB0;
}

.weekly-weather {
  border-radius: 10px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  flex-wrap: nowrap; /* Изменено на nowrap */
  overflow-x: auto; /* Добавлено для горизонтальной прокрутки */
}

.logo_name {
  
  display: inline-flex;
}

.logo {
  margin-right: 7%;
}

h3, h1 {
    color: #4793FF;
}

.day {
  flex: 1; 
  margin: 1%;
  padding: 10px;
  background-color: #4793FF33;
  border-radius: 10px;
}

#day-temp, #day-name {
  margin: 1% 0% 0% 0%;
  font-weight: bold;
  line-height: 21.94px;
}

#day-about {
  margin: 0% 0% 1% 0%;
  padding-left: 0px;
}

.day:last-child {
  margin-right: 8;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .today-weather, .dark-mode .weather-details, .dark-mode .day {
  background-color: #444;
  color: white;
}
