body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body, .today-weather, .weather-details, .day {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .today-weather, 
.dark-mode .weather-details, 
.dark-mode .day {
  background-color: #444;
  color: white;
}

body::before {
  content: '';
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transition: width 0.5s ease, height 0.5s ease, top 0.5s ease, left 0.5s ease;
}

body.dark-mode::before {
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
}

.container {
  max-width: 800px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.logo {
  width: 50px;
}

.toggle-theme {
  padding: 10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

::placeholder {
  color: black;
  text-align: center;
  font-weight: bold;
}

.search input {
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  background: #4793FF33;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 0px solid #ccc;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-details {
  width: 400px;
}

.today-weather {
  width: 250px;
}

#today-temp {
  margin-top: 20px;
  font-size: 450%;
  font-weight: 300;
  text-align: left;
  width: 160px;
  margin: 15px 0px 0px 0px;
}

.today-img {
 display: inline-flex;
}

#today-sun  {
  position: relative;
  left: -6px;
  top: 5px;
}

#today {
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 48.76px;
  text-align: left;  
  margin-top: 0px;
}

#today-time {
  margin-top: 0px;
}

.today-weather, .weather-details {
  height: 225px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  padding: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
  margin-right: 50px;
}

.weather-details, #today-time, #today-city {
  margin-right: 0;
  color:#939CB0;
}

.weekly-weather {
  border-radius: 10px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
  
}

.logo_name {
  
  display: inline-flex;
}

.logo {
  margin-right: 7%;
}

h3, h1 {
  
  color: #4793FF;
}

.day {
  flex: 1;
  margin: 1%;
  padding: 10px;
  background-color: #4793FF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.day:last-child {
  margin-right: 8;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .today-weather, .dark-mode .weather-details, .dark-mode .day {
  background-color: #444;
  color: white;
}
