body {
  font-family: 'Montserrat', sans-serif;
  
  margin: 0;
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 800px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.logo {
  width: 50px;
}

.toggle-theme {
  padding: 10px;
  cursor: pointer;
}

.search {
  display: flex;
  align-items: center;
}

.search input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-details {
  width: 400px;
}

.today-weather {
  width: 225px;
}

#today-temp {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 450%;
  font-weight: 500;
  text-align: left;
  width: 160px;
  /* line-height: 117.02px; */
  /* height: 117px; */
}

.today-weather, .weather-details {
  height: 225px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  padding: 0px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
  margin-right: 50px;
}

.weather-details {
  margin-right: 0;
  font-style: Montserrat, sans-serif;
  color:#939CB0;
}

.weekly-weather {
  border-radius: 10px;
  box-shadow: 2px 5px 20px -3px #B4B4B4;
  background-color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.logo_name {
  
  display: inline-flex;
}

.logo {
  margin-right: 7%;
}

h3, h1 {
  
  color: #4793FF;
}

.day {
  flex: 1;
  margin: 1%;
  padding: 10px;
  background-color: #4793FF;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
}

.day:last-child {
  margin-right: 0;
}

.dark-mode {
  background-color: #333;
  color: white;
}

.dark-mode .today-weather, .dark-mode .weather-details, .dark-mode .day {
  background-color: #444;
  color: white;
}
